{% extends "base.html" %}
{% block content %}

    {% for number in list_of_numbers %}
        <p>{{ number }}</p>
    {% endfor %}

    <h2>{{ page_title }}</h2>
    <p>
        Something about lord of the rings...Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and
        the Hobbit Bilbo Baggins, led by Thorin II Oakenshield in TA 2941. Their purpose was to regain the lost Dwarven
        kingdom of the Lonely Mountain from the dragon Smaug.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3> Thorin Oakenshield </h3>
            <p>Thorin II Oakenshield is the Leader of the Company, the King of Durin's Folk and former Prince of Erebor,
                has many of the speaking roles and is known for combat achievements, killing Orcs on countless
                occasions. He often acts in a confrontational manner, but is a great leader among the Dwarves.</p>

        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/3/3f/ThorinBIG.jpg" alt="">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h3> Fili & Kili </h3>
            <p>Fíli and Kíli were brothers, the youngest of the thirteen Dwarves who set out with Thorin Oakenshield's
                company, along with Gandalf and Bilbo Baggins, to reclaim the Lonely Mountain from the dragon Smaug.</p>
        </div>
    </div>
    
{% endblock %}